<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fa fa-tasks"></i><a class="navbar-brand">Issue Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mainEl">
  <div class="row">
    <div class="col-xs-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-md-8 col-lg-8">
      <div class="main-heading"><span>Reset Password</span></div>
      <div class="controles-container">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" type="password">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="resetPassword()">Submit</button>
      </div>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2"></div>
  </div>
</div>
